.fixed-header {
    min-width: 100%;
    position: fixed; 
    top: 0;  
    background: #333;
    padding: 20px 0;
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fixed-header h1 {
    padding: 0 2em;
}

.fixed-header .panel {
    margin-left: auto;
}

.fixed-header .panel .nav-container {
    display: flex;
    flex-direction: row;
}

.nav-container h1 a {
    text-decoration: none;
    padding: 7px 25px;
    display: block;
    color: #fff;
}

.nav-container h1 a:hover {
    background: #f4f4f4;
    color: #000;
}